/*VARIÁVEIS*/
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");


:root {
    --cor-primaria:  #071526;
    --cor-secundaria:#263440;
    --cor-terciaria: #f28b30;
    --azul-detalhe:  #8fadbf;
    --cor-texto:     #ffffff;
    --cor-hover:     #263440;
    --rodape:        #858585;
    --rodape-link:   #474646;
    
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

body {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    
}
