/*VARIÁVEIS*/
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");


:root {
    --cor-de-fundo: #071526;
    --cor-branco: #263440;
    --laranja: #f28b30;
    --cor-azul-degrade: #071526;
    --azul: #8fadbf;
    --cor-texto: #ffffff;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --preto: #f28b30;
    --rodape: #858585;
    --rodape-link: #474646;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    
}
