/*CARROSEL */
.carrosel__titulo {
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 1em 0 1em 0;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0; /*cima baixo, esquerda,direita*/
}

/* Estilos personalizados para o carrossel Swiper */
.swiper-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
  
  .swiper-slide { 
    transition: transform 0.3s ease-in-out;
}
.swiper-slide:hover {
    transform: scale(1.1);
}
  
.swiper-pagination {
    z-index: 20;
    bottom: 20px;
    left: 20%;
    transform: translateX(-50%);
    width: 100%;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--cor-terciaria);
    opacity: 0.5;
    cursor: pointer;
}

/*INICIO DO CARD*/

.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    
}

.card__botões {
    display: flex;
    justify-content: space-between;
    
}

.botões {
    display: flex;
}
.card {
    background: var(--cor-secundaria);
    box-shadow: 0px 4px 4px var(--cor-terciaria);
    border-radius: 10px;
    margin: 1.5em;
    padding: 1em;
}
.descrição__titulo {
    color: var(--cor-terciaria);
    font-weight: 700;
}
.descrição__titulo-livro {
    font-weight: 700;
    color: var(--azul-detalhe);
    font-size: 18px;
    margin: 0.5em 0;
}
.descrição__texto {
    font-weight: 400;
    font-size: 14px;
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
}
.botões__item {
    margin: 0.5em;
    
}
.botões__ancora {
    background-color: var(--cor-terciaria);
    box-shadow: 0px 4px 4px var(--cor-primaria);
    border-radius: 10px;
    padding: 1em 2.2em;
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: 700;
}
.botões__item:hover img {
    opacity: 0.1;
}
.botões__ancora:hover {
    color: var(--cor-secundaria);
  }
  
/*DEKSTOP*/
@media screen and (min-width: 1024px) {
    .carrosel__titulo {
        font-size: 26px;
        
      
    }
    .swiper-pagination {
        margin: 2em 0 3em 0;
    }
    .swiper {
        width: 60%;
    }
    .swiper-button-next, 
    .swiper-button-prev {
        display: block;
        top: 60;
    }
    .card {
        width: 70%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrosel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }
    .swiper-pagination {
        margin: 1em 0em;
    }
    .swiper {
        width: 50%;
    }
    .card {
        width: 60%;
        margin-left: 3em;
    }
    .descrição {
        margin-right: 1em;
    }
    .descrição__titulo {
        font-size: 32px;
    }
    .descrição__texto {
        font-size: 16px;
    }
}