.contato {
    background-color: var(--cor-branco);
    padding: 1.5em;
}

.contato__titulo {
    font-weight: 500;
    font-size: 18px;
    color: var(--laranja);
}
.contato__texto {
    font-weight: 300;
    margin: 1em 0;
    color: var(--cor-texto);
}
.contato__email {
    background: transparent;
    padding: 1em;
    border: 2px solid var(--laranja);
    border-radius: 24px;
    width: 90%;
    color: var(--laranja);
}
.contato__email::placeholder {
    font-family: var(--fonte-principal); /*no placeholder ele não va tão fundo*/
    color: var(--cor-texto);
    background: url("/img/Vector.svg") no-repeat;
    padding-left: 2em;
    background-position: center left;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contato__titulo {
        font-size: 24px;
        font-weight: 500;
    }
    .contato__descrição {
        margin-right: 1em;
        width: 30%;
    }
    .contato__email {
        width: 30%;
    }
    .contato__texto {
        font-weight: 300;
    }
}

@media screen and (min-width: 1724px) {
    .contato {
        padding: 4em 15vw;
    }
}