.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url(../img/Menu\ Aberto.svg);
}
.container__botao:checked~.container__rotulo {
    background: var(--cor-terciaria);
}
.cabecalho {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*relative= Libera as posição right,top,bottom,left*/
}
.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1em;
}
.container__imagem:hover {
    color: var(--cor-terciaria);
}
.lista-menu {
    display: none; 
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container__botao:checked~.lista-menu {
    display: block;
}
.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--cor-secundaria);
}
.lista-menu__titulo {
    color: var(--cor-terciaria);
    font-weight: 700;
}
.lista-menu__link {
    color: var(--cor-texto);
    text-transform: uppercase;
    text-decoration: none;
}
.lista-menu__link:hover {
    color: var(--cor-terciaria);
}
  .container__link:hover .container__imagem {
    opacity: 0.2;
}
  .container__link:hover .container__texto {
    color: #f28b30;
}
.container__botao, .container__titulo, .opções, .container__texto {
    display: none;
}

/*DEKSTOP*/
@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        color: var(--cor-texto);
    }
    .container__titulo {
        font-weight: 400;
        display: block;
    }
    .container__titulo--negrito {
        font-weight: 700;
    }
    .opções {
        display: flex;
    }
    .lista-menu__link{
        font-size: 17px;
        font-weight: 500;
    }
    .opções__item {
        padding: 1em;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
    }
    .opções__item:hover,.opções__link:hover {
        color: var(--cor-terciaria);
    }
    .opções__link {
        text-decoration: none;
        color: var(--cor-texto);
    }
   
    .container__imagem-transparente, .cabecalho__menu-hamburguer, .opções__botão {
        display: none;
    }
    .opções__botão:checked ~ .lista-menu {
        display: block;
        width: auto;
    }
    .opções__botão:checked~.opções__rotulo>.opções__item {
        background: var(--cor-secundaria);
        color: var(--cor-branco);
    }
    .opções__item {
        padding: 2em 1em;
        color: var(--cor-texto);
    }
    .lista-menu__item:hover {
        background: var(--cor-secundaria);
    }
    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--cor-branco);
        text-decoration: none;
    }
}

/*TABLET*/
@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho {
        padding: 0 2em;
    }
    .opções {
        margin-right: auto;
    }
    .container__texto {
        display: block;
    }
}




