.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*relative= Libera as posição right,top,bottom,left*/
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none; /*Faz os itens desaparecer*/
    position: absolute; /*Permite que movimente o seu elemento de acordo com outro que veio antes o PAI*/
    top: 100%;
    width: 60vw;
    
}


.container__botao:checked~.lista-menu { /*pseudo class= checked: detecta se tá preenchido aquele checkbox. O (~) é um combinador de CSS vai procurar outro elemento que vem em seguida que tenha a classe após o (~)*/
    display: block;

}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--cor-branco);

}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /*prende a cor do background no texto*/
    text-transform: uppercase;
    
}

.container__botao {
    display: none;
}


