hr {
    margin: 0;
}

.rodapé {
    background-color: var(--cor-de-fundo);
    padding: 1em;
    color: white;
    text-align: center;
}
.lista-rodapé {
    display: none;
}
.lista-rodapé__titulo, .rodapé-imagem {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodapé__titulo {
        font-size: 24px;
    }
    .lista-rodapé {
        display: block;
    }
    
    .rodapé {
        display:flex;
        justify-content:space-around;
    }
    .lista-rodapé__titulo {
        font-family: var(--fonte-principal);
        font-size: 24px;
        color: var(--rodape);
    }
    .lista-rodapé__item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }
    .lista-rodapé__link {
        font-size: 14px;
        color: var(--rodape-link);
        text-decoration: none;
        margin-left: 0.5em
    }
   
}

@media screen and (min-width: 1724px) {
    .lista-rodapé {
        border-left: 1px solid var(--rodape-link);
        padding: 1em;
    }
    .rodapé__titulo {
        display: flex;
        font-family: var(--fonte-principal);
        color: var(--laranja);
        align-items:center;
        font-weight: 700;
        font-size: 37px;
        justify-content: start;

    }
    .rodapé-imagem {
        width: 25%;
    }
    .lista-rodapé__titulo {
        color: var(--laranja);
    }
    .rodapé {
        padding: 3em 0;
    }
    
}